.TarsBar {
    background: #999;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Tab {
    background: blue;
    opacity: 0.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}